body{
    background-color: #222222;
    display: flex;
    align-items: center;
    min-width: 500px;
    max-width: 800px;
    min-height: 500px;
    max-height: 800px;
}
section, table{
    flex: 30%;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

div, td{
    border: solid black 2px;
    background-color: #FFFF77;
    padding: 10px;

}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin : 5px;

}


td{
    font-size: xxx-large;
    text-align: center;
    width: 30%;
}


img{
    margin: 5px;
    width: 30%;
}

#titre{
    font-size: 1.5rem;
    font-weight: bold;
}

#erreur, #gagnant{
    /*visibility: hidden;*/
}

#erreur{
    border: solid red 2px;
    background-color: #ff4343;
}

.X{
    border: solid red 2px;
    background-color: #ff7777;
}

.O{
    border: solid blue 2px;
    background-color: #7777FF;
}

@media screen and (min-width: 801px){
}

@media screen and (max-width: 800px){
    body {
        flex-direction: column;
    }

}

